@font-face {
  font-family: "Roobert";
  src: url("../../../public/fonts/Roobert-Regular.ttf");
}
@font-face {
  font-family: "Orbikular";
  src: url("../../../public/fonts/Orbikular-Regular.ttf");
}

.NavBar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.NavBar .logo {
  margin-left: 12px;
}
.NavBar .logo svg path:nth-child(2),
.NavBar .logo svg path:nth-child(3),
.NavBar .logo svg path:nth-child(4),
.NavBar .logo svg path:nth-child(5),
.NavBar .logo svg path:nth-child(6),
.NavBar .logo svg path:nth-child(7),
.NavBar .logo svg path:nth-child(8),
.NavBar .logo svg path:nth-child(9),
.NavBar .logo svg path:nth-child(10),
.NavBar .logo svg path:nth-child(11),
.NavBar .logo svg path:nth-child(12),
.NavBar .logo svg path:nth-child(13),
.NavBar .logo svg path:nth-child(14),
.NavBar .logo svg path:nth-child(15),
.NavBar .logo svg path:nth-child(16),
.NavBar .logo svg path:nth-child(17),
.NavBar .logo svg path:nth-child(18) {
  fill: white;
}
.NavBar .btns {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}

.NavBar .btns .btn {
  font-size: 16px;
  line-height: 0.9;
  color: white;
  font-family: "Roobert";
  padding: 1rem 2rem;
  backdrop-filter: blur(13px);
  background-color: rgba(25, 25, 25, 0.4);
  border-radius: 10px;
  border: none;
  outline: none;
}
